/*VARIABLES*/

$primary-color: #030b15;
$secondary-color: #f7f6f7;
$tertiary-color: #192d50;

/*PAGE RULES*/

body {
    background-color: $primary-color;
}

main {
    border: 1px solid $secondary-color;
    width: 55%;
    margin: 50px auto;
    padding: 35px;
    background-color: $tertiary-color;
}

h2 {
    margin-bottom: 40px;
}

.images {
    margin-top: 40px;
}

.my-slider {
    img {
        width: 90%;
    }
}

.my-slider:hover {
    cursor: grab;
}

.my-slider:active {
    cursor: grabbing;
}

.flex-container {
    display: flex;
    justify-content: space-between;

    img {
        width: 49%;
    }
}

#date-topic {
    opacity: 0.6;
    margin-bottom: 10px;
}