/*VARIABLES*/

$primary-color: #030b15;
$secondary-color: #f7f6f7;
$tertiary-color: #192d50;

/*PAGE RULES*/

h2 {
    margin: 40px 0;
}

.home-page {
    h1 {
        text-transform: uppercase;
        font-size: 3.5em;
        position: absolute;
        width: calc(100% - 5px);
        top: 50%;
        transform: translate(0%, -50%);
        text-align: center;
        z-index: 5;
    }

    #bg-img {
        height: 270px;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 35%;
        background-size: 90%;
        filter: blur(5px);
        opacity: 0.5;
        box-shadow: inset 0px 0px 120px 20px black;
    }
}

.news-page {
    h2 {
        text-align: center;
    }

    .flex-container {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    article {
        border: 1px solid $secondary-color;
        margin: 10px;
        display: flex;
        max-width: 40%;
        min-width: 400px;

        img {
            object-fit: cover;
            width: 50%;
            height: 100%;
        }

        .content {
            padding: 20px;

            #date-topic {
                font-size: 0.8em;
                opacity: 0.6;
                margin-bottom: 10px;
            }

            h3 {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 20px;
            }

            a {
                border-bottom: 2px solid $tertiary-color;
            }
        }
    }
}