/*VARIABLES*/

$primary-color: #030b15;
$secondary-color: #f7f6f7;
$tertiary-color: #192d50;

/*GENERAL RULES*/

body {
    background-color: $primary-color;
    font-family: "Barlow", sans-serif;
    color: $secondary-color;
    padding: 5px;
}

section {
    min-height: 100vh;
}

h2 {
    font-size: 2em;
    margin: 40px 0;
}

h3 {
    font-size: 1.3em;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.flex-container {
    display: flex;
}

header {
    position: fixed;
    height: 30px;
    z-index: 5;

    h3 {
        text-transform: uppercase;
    }
}